body {
    margin: 0;
    padding: 10;
    color: #f1e4c3;
    background-size: cover;
    font-family: "Trebuchet MS", sans-serif;
  }
  
  .container {
    display: inline-block;
  }
  .typed-out {
    overflow: hidden;
    padding: 10px 15px;
    white-space: nowrap;
    animation: typing 1s steps(20, end) forwards;
    font-size: 3rem;
    width: 0;
  }
  @keyframes typing {
    from {
      width: 0;
    }
    to {
      width: 100%;
    }
  }